<!-- Header -->
<header id="header">
    <h1><a href="index.html">Welcome To My Website</a></h1>
    <nav class="links">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/frontend/pages/about.html">About Me</a></li>
            <li><a href="/frontend/pages/resume-selection.html">Resume</a></li>
            <!-- <li><a href="/frontend/pages/blogs.html">Blog</a></li> -->
            <li><a href="/frontend/pages/contact.html">Contact</a></li>
        </ul>
    </nav>
    <nav class="main">
        <ul>
            <li class="search">
                <a class="fa-search" href="#search">Search</a>
                <form id="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                </form>
            </li>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>